<ion-view title="Edit My Roles" id="edit-my-roles">
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="true">
    <div id="profile-roles" style="color:blue;">
      <form name="myRolesForm" ng-submit="saveMyRoles(myRolesForm)" novalidate>
        <ion-checkbox ng-repeat="role in roles"
          name="{{role.name}}"
          ng-model="role.checked"
          ng-checked="role.checked" >{{role.name}}
        </ion-checkbox>
        <button id="save-my-roles" class="button button-positive" type="submit">Save Roles</button>
      </form>
      <button id="cancel-my-roles" class="button" ng-click="cancelMyRoles()">Cancel</button>
    </div>
  </ion-content>
</ion-view>
