<ion-view title="Edit Profile" id="edit-profile">
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">

  <div id="content">
    <div id="profile-info">
      <img id="profile-image" src="">
      <h3 id="profile-name">Welcome, {{user.username}}</h3>
      <div id="profile-description" >
        <div id="profile-roles" style="color:blue;">
          <h3 ng-repeat="role in roles">{{role.name}}</h3>
        </div>
      </div>
    </div>
  </div>

  </ion-content>
</ion-view>
