<ion-view title="Edit Profile" id="edit-profile">
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">

  <form name="editProfileForm" class="list" ng-submit="doEditProfile(editProfileForm)" novalidate>
    <img id="profile-image" ng-src="img/profile_placeholder.jpg">

    <label class="item item-input">
      <span class="input-label">Username</span>
      <input type="text" placeholder="{{user.username}}" ng-model="username" name="username" required>
    </label>

    <label class="item item-input">
      <span class="input-label">Location</span>
      <input type="text" placeholder="{{user.zipcode}}">
    </label>

     <label class="item item-input">
      <span class="input-label">Genres</span>
      <input type="text" placeholder="{{user.genres}}">
    </label>

    <label class="item item-input">
      <span class="input-label">About Me</span>
      <textarea type="text" placeholder="{{user.description}}"></textarea>
    </label>

    <button class="edit-btn button button-block button-positive" type="submit">Save Changes</button>
  </form> <!--  END form -->

    <!-- Edit My Roles Button -->
    <button id="edit-my-role-btn" class="edit-btn button button-block button-positive" ng-click="getEditMyRolesForm()">Edit My Instruments</button>
    <!-- Edit Searched Roles Button -->
    <button id="edit-search-role-btn" class="button button-block button-positive" ng-click="getEditSearchedRolesForm()">Edit Roles I'm Searching For</button>

  <div id="edit-success-error">{{responseMsg}}</div>

 </ion-content>
</ion-view>
