
<ion-view view-title="Home" id="home">
<ion-header-bar class="bar-stable">
    <div class="padding home-header">
      <img id='home-pick-icon' height="30px" src="img/icon.png">
    </div>
    </ion-header-bar>

  <ion-content id="home-content" padding="false" class=" manual-remove-top-padding has-header" scroll="false">

    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>

        <div class="home-pics box blue">
          <img id="home-pic-top" ng-src="img/blackviolinists.jpg">
          <h2 id="home-pic-top-text">PICK YOUR NEXT BAND MATE</h2>
          <hr id="top">
        </div>

        <div class="home-pics box blue">
          <img id="home-pic-mid" ng-src="img/group_flag.jpg">
           <h2 id="home-pic-mid-text">LISTEN TO SAMPLES VIA SOUNDCLOUD</h2>
           <hr id="mid">
        </div>

        <div class="home-pics box blue">
          <img id="home-pic-bottom" ng-src="img/Jamming-at-Ile-St-Louis.jpg">
           <h2 id="home-pic-bottom-text">LINK UP AND MAKE MUSIC</h2>
           <hr id="bottom">
        </div>

      </ion-slide-page>

      <ion-slide-page>
        <div class="box yellow">
          <!-- ADD HOME SLIDE IMAGES -->
        </div>
      </ion-slide-page>

      <ion-slide-page>
        <div class="box pink">
          <!-- ADD HOME SLIDE IMAGES -->
        </div>
      </ion-slide-page>

    </ion-slides>

  </ion-content>
  <button id="home-login-btn" class="button button-balanced button-small" ng-click="login()">Login</button>
  <button id="home-register-btn" class="button button-balanced button-small" ng-click="register()">Register</button>

</ion-view>

