<!-- <ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
          <button class="button button-block button-positive" type="submit">Log in</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view> -->

<ion-view title="Profile" id="profile">
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">

   <div id="profile-bg">

    <div id="content">
      <div id="profile-info">

        <img id="profile-image" src="">
        <h3 id="profile-name">{{user.username}}</h3>
         <p id="profile-location">Chicago, IL</p>

          <div id="profile-roles-container">
            <!-- <h2 id="profile-roles-text-header">ROLES</h3> -->
            <h3 id="profile-roles-text" ng-repeat="role in roles | limitTo:2">{{role.name}}</h3>
          </div>

          <div id="profile-genres-container">
            <!-- <h2 id="profile-genres-text-header">GENRES</h3> -->
            <h3 id="profile-genres-text" ng-repeat="genre in genres | limitTo:2">{{genre.name}}</h3></span>
          </div>

      </div> <!-- end profile info -->
    </div> <!-- end content -->
     <div id="profile-about">
      <h3 id="profile-about-header">About Me:</h3>
      <p>"Every drummer that had a name, had a name because of his individual playing. He didn't sound like anybody else, So everybody that I ever listened to, in some form, influenced my taste." -Buddy Rich
      </p>
     </div>
      <div id="profile-soundcloud-container">
        <div id="profile-soundcloud-player" ></div>
      </div>
  </div> <!-- end profile-bg -->

  </ion-content>
</ion-view>
