<ion-view title="Profile" id="profile">
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
    <div id="content">
      <div id="profile-info">
        <img id="profile-image" ng-src="{{user.avatar_url}}">
        <h3 id="profile-name">Welcome, {{user.username}}</h3>
        <span id="profile-description" >
          <div id="profile-roles" style="color:blue;">
          <h3 ng-repeat="role in roles">{{role.name}}</h3></span>
          </div>
          <div id="profile-genres">
          <h3 ng-repeat="genre in genres">{{genre.name}}</h3></span>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
