<ion-view view-title="Pick">
  <ion-nav-title>
    <div class="padding">
      <img height="30px" src="img/icon.png">
    </div>
  </ion-nav-title>
  <ion-pane ng-controller="CardsCtrl">
    <td-cards>
      <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
            on-swipe-left="cardSwipedLeft(card.id)" on-swipe-right="cardSwipedRight(card.id)"
            on-partial-swipe="cardPartialSwipe(amt)">

            <img ng-src="{{card.avatar_url}}">
            <h3>{{card.username}}</h3>
            <h3>{{card.zipcode}}</h3>
            <h3>{{card.description}}</h3>
            <a ng-href="{{card.permalink}}" ng-click="window.open(this.href, '_system')">SoundCloud</a>
            
      </td-card>
    </td-cards>
  </ion-pane>
</ion-view>
