<ion-view view-title="Pick">
  <ion-pane ng-controller="CardsCtrl">
    <div ng-if="cards.active">
      <td-cards>
        <td-card ng-repeat="card in cards.active" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft(card.id, $index)" on-swipe-right="cardSwipedRight(card.id, $index)">
          <div class="card-content" ng-controller="CardCtrl">    
            <img class="profile-image" ng-src="{{card.avatar_url}}">
            <h3 class="profile-name">{{card.username}}</h3>
            <h3 class="profile-location">Chicago, IL</h3>
            <button class="scplayerbtn myButton" ng-click='doOpen(card.permalink)'><img class="scplayicon" ng-src="/img/soundcloud.png"></button>
            <div class="profile-about-header">About Me:</div>
            <span class="profile-about-text">{{card.description}}</span>
            <div class="profile-about-header">ROLES</div>
            <span class="profile-location" ng-repeat="role in card.roles"> {{role.name}} </span>
            <div class="profile-about-header">GENRES</div>
            <span class="profile-location" ng-repeat="genre in card.genres | limitTo:3">{{genre.name}}</span>
          </div>
        </td-card>
        <!-- *************************
          End Card
          - 'drag' is set to false. The user cannot drag it.
          - 'refreshCards()' reloads all cards that have NOT been discarded.
        ************************* -->
        <td-card id="end-card">
          <i class="icon ion-ios-refresh" ng-click="refreshCards()"></i>
        </td-card>
      </td-cards>
    </div>
  </ion-pane>
</ion-view>