/* Card styling */
.pane{
  background-color:#f3f3f3;
}

.td-title {
  position: absolute;
  top: 70px;
  width: 100%;
  text-align: center;
}

.td-title span {
  font-weight: bold;
}


td-cards {
    font-family: 'Nothing You Could Do', cursive;
    display: block;
}

td-card {
    position: absolute;
    margin-top: 10%;
    /*margin: 80px 0 40px -150px;*/
  /*  width: 300px;
    height: 500px;*/
    height: 95%;
    width: 100%;
    font-size: 100px;
    background-image: url("./../img/subtle-black-geo.png");
    border: 1px solid #999;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    color: #fff;
    padding: 0 20px;
}

.searched-role {
    position: relative;
    display: inline-block;
    top: 3em;
    font-size: 1.5em;
}
/*td-card .image {
    top: 20px;
    width: 100%;
}

td-card img {
    margin-top: 20px;
    height: 258px;
    width: 100%;
}*/

td-card .buttondesc{
    position: absolute;
    bottom: -120px;
    width: 100%;
    text-align: center;
    color: #333;
    background-color: #f3f3f3;
    padding: 10px;
}
td-card .buttondesc button{
  margin: 0 10px;
}

/* Overlay styling*/

.overlayBox {
    position: absolute;
    left: 50%;
    height: 98%;
    width: 100%;
    top: -80px;
    opacity: 0;
    margin: 80px 0 0 -149px;
}

.boxed {
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
}

.yes-text {
    background-color: rgba(0,256,0,0.2);
}

.yesBox {
    margin: 10% 60% 0% 10%;
    border: 2px solid #00FF00;
    color: rgb(0, 256, 0);
    -webkit-transform: rotate(-25deg);
}

.no-text {
    background-color: rgba(256,0,0,0.2);
}

.noBox {
    margin: 10% 10% 0% 60%;
    border: 2px solid #FF0000;
    color: rgb(256, 0, 0);
    -webkit-transform: rotate(25deg);
}

.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}

.username{
  margin:5px;
  font-size: medium;
  font-weight: bold;
}

/* Pick */
#home-content{
    background: none;
}
#home-pick-icon {
    width: 40px;
    margin: 0 auto;
    height: 40px;
    margin-top: -30%;
}

.home-header {
    margin: 0px auto;
    text-align: center;
}



#home-login-btn {
    color: #444444;
    float: all;
    clear: all;
    width: 100%;
    margin: 0 0 0 0;
    font-size: 20px;
    font-weight: bold;
    background-image: -o-linear-gradient(top, rgb(236, 71, 93) 6%, #F9A243 100%);
    background-image: -moz-linear-gradient(top, rgb(236, 71, 93) 6%, #F9A243 100%);
    background-image: -webkit-linear-gradient(top, rgb(236, 71, 93) 6%, #F9A243 100%);
    background-image: -ms-linear-gradient(top, rgb(236, 71, 93) 6%, #F9A243 100%);
    background-image: linear-gradient(to top, rgb(236, 71, 93) 6%, #F9A243 100%);
}

/*#home-img-center {
    margin: 40px, 0, 0, 0;
    height: 565px;
    width: 375px;
}*/

.home-pics {
    margin: 0 auto;
    max-height: 30%;
    position: relative;
    max-width: 100%;
    /*background: rgb(244, 255, 255, 0.1);
    background: rgba(44, 255, 255, 0.4);
    color: #fff;*/
    /*z-index: 2;*/
    /*color: white;*/
        /*background: inherit;*/
    box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
}

.home-pics img{
    margin: 0 auto;
    height: 100%;
    position: relative;
    width: 100%;
    /*z-index: 2;*/
    /*color: white;*/
        /*background: inherit;*/
}

.home-pics h2 {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 18px;
    top:60px;
}

#home-register-btn{
    width: 100%;
    margin: 0 0 0 0;
    font-size: 18px;
    float: all;
    display: block;
    clear: all;
    margin-top: 40px;
    color: #444444;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffd68f), color-stop(1, #f59905));
    background:-moz-linear-gradient(to bottom, #ece473 5%, #f59905 100%);
    background:-webkit-linear-gradient(to bottom, #ece473 5%, #f59905 100%);
    background:-o-linear-gradient(to bottom, #ece473 5%, #f59905 100%);
    background:-ms-linear-gradient(to bottom, #ece473 5%, #f59905 100%);
    background: linear-gradient(to bottom, #ece473 5%, #f59905 100%);
}

#arrow{
    font-size: 26px;
    font-weight: bold;
    color: #fecea8;
}

hr{
    position: absolute;
    top:100px;
    margin: 5px 10%;
    width: 80%;

    text-align: center;

}
/*
#e1fsc4
#ece473
#f9d423
#f6903d
#f05053

*/
#top{
    z-index: 2;
    border: 3px solid #ece473;
    border-radius: 10px;
    /*border-color: #fecea8;*/
}

#mid{
    z-index: 2;
    border: 3px solid #e84a5f;
    border-radius: 10px;
    /*border-color: #e84a5f;*/
}

#bottom{
    z-index: 2;
    border: 3px solid #f6903d;
    border-radius: 10px;
    /*border-color: #99b898;*/
}




/******** Profile ********/
#profile {
    background-image: url('./../img/subtle-black-geo.png');
    text-align: center;
    }

    #profile-content {
        position: relative;
        height: 100%;
        margin-top: 30%;
        border-radius: 10px;
        color: white;
        box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
        padding-top: 10em;
        background: rgba(255, 195, 77, .3);
        margin-bottom: 20%;
}

    #profile-info {
        position: absolute;
        top: -95px;
        width: 100%;
        z-index: 2;
        text-align: center;
    /*background: inherit;*/
    }

    #profile-name {
    color: #FF5500;
    font-size: 35px;
    margin: 0 auto;
    font-weight: bold;
    font-family: 'Nothing You Could Do', cursive;
    text-shadow: 2px 2px 2px rgba(149, 74, 0, 1);
    }

    #profile-description {
    font-size: 15px;
    color: #F6903D;
    }
    #profile-description a {
    color: #F6903D;
    }

    #profile-image {
    display: block;
    border-radius: 100px;
    border: 3px solid white;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px gray;
    }

    /**/
    .picks-content {

    }
    .picks-info {
        background-image: url('./../img/subtle-black-geo.png');
        display: inline-block;
        position: relative;
        text-align: left;
        border: 1px solid #444444;
        height: 20%;
        width: 100%;
        font-family: 'Nothing You Could Do', cursive;
        color: #FF5500;
        font-size: 25px;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    .picks-image {
        float: left;
        border-radius: 100px;
        border: 1px solid #fff;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
        width: 40%;
    }
    .picks-info button.picks-link {
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 40%;
        font-size: 14px;
    }
    .picks-name {
        position: absolute;
        right: 5%;
        top: 5%;
    }
    .picks-city {
        position: absolute;
        right: 5%;
        top: 25%;
    }
/**/
span.profile-roles-text{
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    font-size: 16px;
    font-weight: bold;
    color: #FFDD55;
    text-shadow: 1px 1px 2px rgba(255, 110, 23, 1);
    font-family: 'Nothing You Could Do', cursive;
}

.profile-roles-title{
    font-weight: bolder;
    padding-top: 1em;
    font-size: 20px;
    font-family: 'Nothing You Could Do', cursive;
    color: #FF5500;
    text-shadow: 2px 2px 2px rgba(149, 74, 0, 1);
}
/*#profile-roles-text-head{
    font-size: 18px;
    padding: 2px;
    color: #fd9d4e;

font-family: 'Rock Salt', cursive;

}*/

.profile-title{
    width: 100%;
    border-top: 2px solid rgba(255, 110, 23, 0.2);
    text-shadow: 2px 2px 2px rgba(149, 74, 0, 1);
    font-weight: bolder;
    padding-top: 0.3em;
    font-size: 20px;
    font-family: 'Varela Round', serif;
    color: #333333;
    margin-bottom: 0.5em;
}

.profile-text{
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 20px;
    font-weight: bold;
    color: #FFDD55;
    text-shadow: 1px 1px 2px rgba(255, 110, 23, 1);
    font-family: 'Nothing You Could Do', cursive;
    margin-bottom: 0.5em;
}

#profile-roles-container{
    position: relative;
    top: 30px;
    font-size: 14px;
}

#profile-genres-container{
    /*width: 50%;
    float: left;*/
    height: 40px;
    /*border-left: gray 1px solid;*/
    font-size: 14px;
    color: #F6903D;
    text-align: center;
    /*margin-top: 0;*/
}




#profile-location{

    font-size: 18px;
    margin: 0 auto;
    color: #FFDD55;
    font-size: 25px;
    margin-bottom: 0.5em;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgba(255, 110, 23, 1);
}

#profile-about{
    color: #F05053;
}

#profile-about-header{
    font-size: 20px;
    color: #FF5500;
    font-weight: bolder;
    font-family: 'Nothing You Could Do', cursive;
    text-shadow: 2px 2px 2px rgba(149, 74, 0, 1);
}

#profile-about-text{
    font-size: 16px;
    font-weight: bold;
    color: #FFDD55;
    text-shadow: 1px 1px 2px rgba(255, 110, 23, 1);
    font-family: 'Nothing You Could Do', cursive;
}




/*#scplayicon{
    float: left;
    width: 35px;
    height: 35px;
}*/

.edit-btn {
    width: 30px;
    margin: 0 auto;

}

#edit-success-error{
    text-align: center;
     color: #fd9d4e;
}


#sc-btn-text{
    margin-left: 0%;
    color: #fd8f35;
    text-shadow: 0.5px 0.5px gray;
}

#login-error {
    text-align: center;
    font-size: 12px;
    background-color: white;
    color: red
}

#registration-error {
    text-align: center;
    font-size: 12px;
    background-color: white;
    color: red
}

.scplayerbtn{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-color: #fd9d4e;
    background-color:#fd9d4e;
    height: 10%;
    padding: 0 0 0 0;
    /*background-image: url("/img/Blog_PlayButton.png");*/ /* 16px x 16px */
    /*background-color: transparent;  make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
             /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
    border-radius: 1em;
}
#sc-image{
    position: relative;
    float: left;
    top: -93px;
    margin: 2% -2%;

}

/* edit profile*/
#edit-my-role-btn{
    border-color: #fd8f35;
    background-color:#fd9d4e;
}
#edit-search-role-btn{
    border-color: #fd8f35;
    background-color:#fd9d4e;
}
#edit-my-genre-btn{
    border-color: #fd8f35;
    background-color:#fd9d4e;
}

#cancel-my-Genres{
    border-color: #fd8f35;
    background-color:#fd9d4e;
}
#cancel-my-roles{
    border-color: #fd8f35;
    background-color:#fd9d4e;
}
#cancel-searched-roles{
    border-color: #fd8f35;
    background-color:#fd9d4e;
}

.edit-form-input{
display: inline-block;
  float: left;
  text-align: left;
}









/* START PICKING - change ids to classes*/
.profile-bg {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    height: 150px;

    background: url("./../img/subtle-black-geo.png");
    background-size: 100%;
    background-position: 50% 20%;

    text-align: center;
    }

    .profile-content {
        position: relative;
        margin-top: 100px;
        border-radius: 10px;
        /*background-color: #2a363b;*/
        /*background-color: white;*/
        color: white;
        /*background: inherit;*/
        box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
        padding-top: 150px;
/*        height: 20px;
*/      background: rgba(255, 195, 77, 0.15);

        /*border: red solid 2px;*/
    }

    .profile-info {
        position: absolute;
        top: ;
        width: 100%;
        z-index: 2;
        text-align: center;
    /*background: inherit;*/
    }

    .profile-name {
        font-size: 35px;
        margin: 0 auto;
        font-weight: bold;
        font-family: 'Nothing You Could Do', cursive;
        text-shadow: 2px 2px 2px rgb(107, 58, 64);
        color: #E84A5F;
    }

    .profile-description {
        font-size: 15px;
        margin: 0 auto;
        font-weight: bold;
        font-family: 'Nothing You Could Do', cursive;
        text-shadow: 2px 2px 2px rgb(107, 58, 64);
        color: #E84A5F;
    }
    .profile-description a {

    }

    .profile-image {
    display: block;
    border-radius: 100px;
    border: 3px solid white;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px gray;
    }

    /**/

/**/
.profile-roles-text{
    font-size: 18px;
    padding: 2px;
    color: white;
    font-family: 'Nothing You Could Do', cursive;
}

.profile-roles-text-head{
    font-size: 18px;
    padding: 2px;
    color: #e84a5f;

font-family: 'Rock Salt', cursive;

}


.profile-roles-container{
    /*width: 50%;
    float: left;*/
    height: 40px;
    /*border: gray 1px solid;*/
    position: relative;
    top:-15px;
     font-size: 14px;
    color: white;
    text-align: left;
    padding-left: 15px;

}

.profile-genres-container{
    /*width: 50%;
    float: left;*/
    height: 40px;
    border-bottom: gray 1px solid;
    position: relative;
    top: -30px;
    /*border-left: gray 1px solid;*/
    font-size: 14px;
    color: white;
    text-align: left;
    padding-left: 15px;
    /*margin-top: 0;*/
}



.profile-location{
    font-size: 25px;
    margin: 0 auto;
    font-weight: bold;
    font-family: 'Nothing You Could Do', cursive;
    text-shadow: 2px 2px 2px #A75513;
    color: #F6903D;
}



.profile-about-header{
    padding-top: 1em;
    font-size: 20px;
    margin: 0 auto;
    font-weight: bold;
    font-family: 'Varela Round', serif;
    text-shadow: 2px 2px 2px rgb(107, 58, 64);
    color: #E84A5F;

}

.profile-about-text{
    padding-top: 1em;
    font-size: 20px;
    margin: 0 auto;
    font-weight: bold;
    font-family: 'Nothing You Could Do', cursive;
    text-shadow: 2px 2px 2px #A75513;
    color: #F6903D;
}

.scplayer-cont{
    position: relative;
    /*bottom: 0px;
    left: 0px;*/
    background: inherit;
    margin: 0 45px;
    border: none;
}

.scwhite{
    float: left;

}

.scplayicon{
    margin: 0 -5em 0 -5em;
    height: 80%;
    max-width: 100%;
}
.edit-btn {
    width: 30px;
    margin: 0 auto;
}

.edit-success-error{
    text-align: center;

}


#sc-connect-btn{
    color: #FF5500;
    margin: 0 auto;
}
/* edit profile*/
.edit-my-role-btn{
    border-color: #fd8f35;
    background-color:#fd9d4e;
}
.edit-search-role-btn{
    border-color: #fd8f35;
    background-color:#fd9d4e;
}
.edit-my-genre-btn{
    border-color: #fd8f35;
    background-color:#fd9d4e;
}

#home-pic-bottom-subtext{
    text-decoration: none;
    position: relative;
    top: 3.8em;
    text-align: center;
    text-shadow: 0px 0px 7px white, 0 -1px 0 #000, 0 1px 0 #000;
    font-weight: bolder;
    font-style: 1.5em;
    z-index: 2;
}

.register-link{
    text-decoration: none;
}

.bottom-nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

#red-transparent{
    padding: 0;
    margin: 0;
    height: 30%;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgba(255, 54, 83, 0.15);
    color: rgba(255, 54, 83, 0.05);
}

#green-transparent{
    padding: 0;
    margin: 0;
    top: 30%;
    height: 30%;
    position: absolute;
    z-index: 1;
    width: 100%;
    /*background-color: #f6903d;*/
    background-color: rgba(132, 90, 0, 0.4);
    /*background-color: rgba(33, 105, 59, 0.1);*/
    color: rgba(85, 233, 138, 0.1);
}

#yellow-transparent{
    padding: 0;
    margin: 0;
    top: 60%;
    position: absolute;
    z-index: 1;
    height: 40%;
    width: 100%;
    background-color: rgba(105, 98, 0, 0.4);
    color: rgba(80, 88, 55, 0.1);
}

#home-pic-top-text{
    z-index: 2;
    font-weight: bolder;
    text-shadow: 0px 0px 3px white, 0 -1px 0 #000, 0 1px 0 #000;
    color: white;
}

#home-pic-mid-text{
    z-index: 2;
    font-weight: bolder;
    text-shadow: 0px 0px 3px white, 0 -1px 0 #000, 0 1px 0 #000;
    color: white;
}
#home-pic-mid-bottom-text{
    z-index: 2;
    font-weight: bolder;
    text-shadow: 0px 0px 3px white, 0 -1px 0 #000, 0 1px 0 #000;
    padding-top: 1.8em;
    color: white;
}

#home-pic-bottom-text{
    z-index: 2;
    font-weight: bolder;

    color: #fff;
    text-shadow: 0px 0px 3px white, 0 -1px 0 #000, 0 1px 0 #000;
}







td-card#end-card {
  background-color: none;
  box-shadow: none;
  border-radius: none;
}

#end-card i {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 40px);
  font-size: 100px;
}


.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.card-content{
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


.no-padding {
    border: 0px solid black;
    padding: 0px !important;

    background-color: black !important;
}

.myButton {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffd68f), color-stop(1, #f59905));
    background:-moz-linear-gradient(top, #ffd68f 5%, #f59905 100%);
    background:-webkit-linear-gradient(top, #ffd68f 5%, #f59905 100%);
    background:-o-linear-gradient(top, #ffd68f 5%, #f59905 100%);
    background:-ms-linear-gradient(top, #ffd68f 5%, #f59905 100%);
    background:linear-gradient(to bottom, #ffd68f 5%, #f59905 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd68f', endColorstr='#f59905',GradientType=0);
    background-color:#ffd68f;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:10px;
    border:1px solid #d6be9f;
    display:inline-block;
    cursor:pointer;
    color:#FF5500;
    font-family: 'Varela Round', serif;
    font-weight: bold;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #d99c00;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f59905), color-stop(1, #ffd68f));
    background:-moz-linear-gradient(top, #f59905 5%, #ffd68f 100%);
    background:-webkit-linear-gradient(top, #f59905 5%, #ffd68f 100%);
    background:-o-linear-gradient(top, #f59905 5%, #ffd68f 100%);
    background:-ms-linear-gradient(top, #f59905 5%, #ffd68f 100%);
    background:linear-gradient(to bottom, #f59905 5%, #ffd68f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f59905', endColorstr='#ffd68f',GradientType=0);
    background-color:#f59905;
}

.card-content div, .card-content span{
    font-size: 0.2em;
    padding-top: 5%;

}

.card-content div {
    border-top: 1px solid rgba(239, 139, 58, 0.6);
    width: 100%;

}

form {
    background-image: url("./../img/subtle-black-geo.png");
}
