<ion-view view-title="Settings">
      <ion-content class="padding">
<h4>Notifications</h4>
<div class="card">

  <div class="item item-text-wrap">
    <div class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      New Picks
    </div>
    <div class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Messages
    </div>
  </div>

</div>

<div class="card padding">
  Logout
</div>

</ion-content>
</ion-view>
